body {
  max-width: 700px;
  margin: 0 auto;
  background-color: #181a1b;
  color: #eee;
  font-family: "Helvetica Neue", Helvetica, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #700bff;
}

input {
  border-radius: 24px;
  outline: none;
  border: none;
  padding: 0.5em 1em;
  background: #7c7c7c2b;
  font-family: inherit;
  font-size: 120%;
  color: #eee;
}

button {
  display: inline-block;
  padding: 0.7em 1.4em;
  margin-top: 1em;
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration: none;

  text-transform: uppercase;
  font-weight: 400;
  color: white;
  background-color: #700bff;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
}

.red {
  background-color: #ff0202;
}

.green {
  background-color: #22cf03;
}

.container {
  padding: 10px 20px;
}

.box {
  padding: 20px;
}

@media screen and (min-width: 700px) {
  .row > * {
    margin: 0 30px;
  }
}

@media screen and (max-width: 300px) {
  input {
    width: calc(85%);
  }
}
.row {
  display: flex;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.block {
  padding: 5px;
  color: #eee;
  margin-right: 5px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  text-transform: uppercase;
  user-select: none;
  border-radius: 2px;
}
