<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='avatar.png') }}"
    />
    <title>TodoList for Everyone</title>
  </head>

  <body>
    <div style="margin-top: 50px">
      <h1>To Do App</h1>
      <p>Get Stuff Done!</p>
      <p>Built by <a href="https://achintyajha.in">Achintya Jha</a></p>

      <form action="/add" method="post">
        <div>
          <input
            required
            type="text"
            name="title"
            placeholder="Add to the list.."
          />
          <br />
        </div>
        <button type="submit">Add</button>
      </form>

      <hr />

      {% for todo in td_list %}
      <div>
        <p>{{todo.id }} | {{ todo.title }}</p>
        ( {% if todo.complete == False %}
        <span>Not Complete</span>
        {% else %}
        <span>Completed</span>
        {% endif %} )
        <br />
        <a href="/update/{{ todo.id }}">
          <button class="green">Update</button>
        </a>
        <a href="/delete/{{ todo.id }}">
          <button class="red">Delete</button>
        </a>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
